.records {
  display: flex;
  flex-direction: column;
  
  .add-record {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    // position: sticky;
    align-self: end;
    border-radius: 1rem;
  
    background-color: $clr-accent-400;
    color: $clr-neutral-100;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .add-record:hover {
    /* opacity: 0.8; */
    background-color: $clr-accent-700;
  }
}