@import url("https://fonts.cdnfonts.com/css/menlo");

/* -------------------------------------------------- *\
  #CSS VARIABLES
\* -------------------------------------------------- */
:root {
  --clr-primary-400: hsl(210, 17%, 97%); /* Background */

  --clr-secondary-400: hsl(0, 0%, 100%); /* Grid Items */

  --clr-accent-400: hsl(174, 59%, 56%);
  --clr-accent2-400: hsl(231, 32%, 25%);

  --clr-positive-400: hsl(145, 46%, 51%);
  --clr-negative-400: hsl(0, 76%, 57%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(214, 20%, 69%);
  --clr-neutral-400-blur: hsla(214, 20%, 69%, 0.6);
  --clr-neutral-700: hsl(218, 23%, 23%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --ff-sans: "Inter", "Helvetica", sans-serif;
  --ff-mono: "Roboto Mono", monospace;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.75rem; /* 12px */
  --fs-400: 0.875rem; /* 14px */
  --fs-500: 1.125rem; /* 14px */

  --fs-nav: var(--fs-300);
  --fs-body: var(--fs-400);
  --fs-title: var(--fs-400);
  --fs-heading: var(--fs-500);

  --size-50: 0.15rem;
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 2.5rem;
  --size-800: 3rem;
  --size-900: 3.5rem;
}

/* -------------------------------------------------- *\
  #CSS RESETS
\* -------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.1;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}

/* -------------------------------------------------- *\
  #UTILITY CLASSES
\* -------------------------------------------------- */

.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-700 {
  color: var(--clr-neutral-700);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-secondary-400 {
  background-color: var(--clr-secondary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent2-400 {
  background-color: var(--clr-accent2-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}

.ff-mono {
  font-family: var(--ff-mono);
}

.letter-spacing-10 {
  letter-spacing: -0.05em;
}

/* -------------------------------------------------- *\
  #GENERAL STYLING
\* -------------------------------------------------- */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  background-color: var(--clr-primary-400);
}

.container {
  display: grid;
  height: 100dvh;
  grid-template-columns: 245px 1fr;
}

/* ||********** SIDEBAR **********|| */
.sidebar {
  margin-inline: var(--size-500);
}
.sidebar-nameplate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-200);

  border-bottom: 0.2px solid var(--clr-neutral-400-blur);
  padding-bottom: var(--size-500);
  margin-block: var(--size-500);
}
.sidebar-nameplate__logo {
  max-width: 20px;
  max-height: 20px;
}

.sidebar-nav-lists {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
}
/* ||nav_passive */
/* .sidebar-nav-list {
  display: flex;
  align-items: center;
  gap: var(--size-200);

  padding: var(--size-300);
  border-radius: var(--size-200);
}
.sidebar-nav-icon {
  background-color: var(--clr-neutral-100);
  padding: var(--size-100);
  border-radius: var(--size-200);
}
.sidebar-nav-text {
  color: var(--clr-neutral-400);
} */

/* ||nav_active */
.sidebar-nav-list {
  display: flex;
  align-items: center;
  gap: var(--size-200);

  padding: var(--size-300);
  border-radius: var(--size-200);
  background-color: var(--clr-neutral-100);
}
.sidebar-nav-icon {
  background-color: var(--clr-accent-400);
  padding: var(--size-100);
  border-radius: var(--size-200);
}
.sidebar-nav-text {
  color: var(--clr-neutral-700);
}

/* ||********** CONTENT **********|| */
.content {
  /* background-color: var(--clr-accent-400); */
}
